body{
  background-color: white;
}


/* TOP-MENU CSS - within top-menu div */
.top-menu{
  width: 1024px;
  max-height:50px;
  height: 50px;
  margin-left: 20px;
  background-color: #3e4b59;
  display: flex;
  justify-content: space-between;

}
.logo-left{
  position: absolute;
  left:8px;
  top:8px;
  background-color: #55b4d4;
  width: 40px;
  height: 50px;
}

.logo-left img{
  height: 50px;
  max-width: 38px;
}

.current-user{
  margin-left: 21px;
  flex: 0 0 30%;
  padding-top: 15px;
  color: white;
  padding-left: 20px;
  font-size: 20px;
}

.add-block{
  flex: 0 0 20%;
  height: 100%;
}

.add-card{
  max-width: 150px;
  margin-left: 50px;
  margin-top: 8px;
  background-color: #39bae6;
  font-size: 20px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  border-radius: 2px;
}
.add-card:active{
  border: 1px solid black;
}


.search-block{
  flex: 0 0 23%;
  height: 100%;
  color: white;
}

.search-input{
  width: 200px;
  height: 20px;
  padding: 5px;
  margin: 10px;

}

.toggle-block{
  flex: 0 0 14%;
  height: 100%;
  color: white;
  display: flex;
}
.toggle-admin{
  margin-left: 10px;
}
.toggle-user{
  margin-right: 10px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 34px;
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 10px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  margin-top: 10px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  margin-top: 10px;
}

input:checked + .slider {
  background-color: #2196F3;
  margin-top: 10px;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
  margin-top: 10px;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  margin-top: 10px;
}

.slider.round:before {
  border-radius: 50%;
  margin-top: 10px;
}









/* SIDE-MENU CSS */

.side-menu{
  position: absolute;
  left:20;
  top:58px;
  z-index: 1;
  height: 900px;
  width: 40px;
  background-color: #343d4a;
}


.side-menu-users img{
  margin: 5px;
  max-width: 30px;
  max-height: 30px;
  margin-top: 20px;
  filter: invert(100%);
  -webkit-filter: invert(100%); /* Safari/Chrome */
}

.side-menu-users-about img{
  margin: 3px;
  max-width: 33px;
  max-height: 33px;
  margin-top: 20px;
  filter: invert(100%);
  -webkit-filter: invert(100%); /* Safari/Chrome */

}


.side-menu-users .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #3e4b59;
    color: white;
    border: 1px solid black;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}
/*
.side-menu-users:hover .tooltiptext {
    visibility: visible;
}*/










/* BOARD CONTAINER CSS */

.board-container{
  width: 1004px;
  min-height: 900px;
  background-color: #66737f;
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
  margin-left: 40px;
}

.status-divider{
  border: 1px solid #ffffff;
  margin-top: 5px;
}

.ready-container{
  display: flex-wrap;
  justify-content: space-around;
  min-width: 200px;
}

.ready-header, .progress-header, .done-header{
  text-align: center;
  color: #ffffff;
}

.progress-container{
  display: flex-wrap;
  justify-content: space-around;
  min-width: 200px;
}



.done-container{
  display: flex-wrap;
  justify-content: space-around;
  min-width: 200px;
}



/* CARD CONTAINER CSS */

.card-container{
  background-color: #ffffff;
  border-radius: 2px;
  margin-top: 10px;
}

.card-container:hover{
  background-color: #ffffff;
  border-radius: 2px;
  margin-top: 10px;
  box-shadow: 0 0 5px 2px #73d0ff;
}

.card-id{
  font-size: 10px;
  margin: 4px;
  padding: 10px;
}

.card-text{
  margin-bottom: 5px;
  padding: 10px;
  color: #85888c;
}

.card-text-area{
  margin:5px;
  width: 250px;
  color: #85888c;
  padding: 5px;
  font-size: 12px;
}

.priority-change{
}




.card-details{
  display: flex;
  justify-content: space-around;
}

.card-options{
  border: transparent;

}
.card-options img{
  max-width: 20px;
  max-height: 20px;
}


.card-buttons{
  background-color: #abb0b6;
  padding: 10px;
}

.button-edit{
  margin: 4px;
  border-radius: 2px;
  background-color: #59c2ff;
  border: transparent;
  padding: 10px;
  color: #1a2633;
  min-width: 50px;
}

.button-remove{
  margin: 4px;
  border-radius: 2px;
  border: transparent;
  padding: 10px;
  color: #1a2633;
  background-color: #ff7733;
  min-width: 50px;
}

.button-progress{
  margin: 4px;
  border-radius: 2px;
  background-color: #95e6cb;
  border: transparent;
  padding: 10px;
  color: #1a2633;
  min-width: 65px;
}

.button-done{
  margin: 4px;
  border-radius: 2px;
  background-color: #d4bfff;
  border: transparent;
  padding: 10px;
  color: #1a2633;
  min-width: 50px;
}

.button-undo{
  position: absolute;
  border: transparent;
  padding: 10px;
  background-color: #fa6e32;
  border-radius: 2px;
  top: 16px;
  left: 300px;
}

#high{
  background-color: #f28779;
}

#med{
  background-color: #ffcc66;
}
#complete{
  background-color: gray;
}

#low{
  background-color: #bae67e;
}

#low, #med, #high, #complete{
  margin: 4px;
  border-radius: 2px;
  border: transparent;
  padding: 10px;
  max-width: 40px;
  width: 40px;
  min-width: 40px;
  color: #ffffff;
  margin-right: 20px;
  text-align: center;
}

#low:active, #med:active, #high:active{
  border: 2px solid gray;
  padding: 8px;
  border-radius: 5px;
}


















