body{
  background-color: white;
}

/* TOP-MENU CSS - within top-menu div */
.top-menu{
  width: 1024px;
  max-height:50px;
  height: 50px;
  margin-left: 20px;
  background-color: #3e4b59;
  display: flex;
  justify-content: space-between;

}
.logo-left{
  position: absolute;
  left:8px;
  top:8px;
  background-color: #55b4d4;
  width: 40px;
  height: 50px;
}

.logo-left img{
  height: 50px;
  max-width: 38px;
}

.current-user{
  flex: 0 0 34%;
  height: 100%;
  background-color: red;
}

.add-block{
  flex: 0 0 30%;
  height: 100%;
  background-color: green;
}

.search-block{
  flex: 0 0 32%;
  height: 100%;
  background-color: yellow;
}










/* SIDE-MENU CSS */

.side-menu{
  position: absolute;
  left:20;
  top:58px;
  z-index: 1;
  height: 900px;
  width: 40px;
  background-color: #343d4a;
}

.board-container{
  width: 1004px;
  min-height: 900px;
  background-color: #66737f;
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
  margin-left: 40px;
}

.status-divider{
  border: 1px solid #ffffff;
}

.ready-container{
  display: flex-wrap;
  justify-content: space-around;
  min-width: 100px;
}

.ready-header, .progress-header, .done-header{
  text-align: center;
  color: #ffffff;
}

.progress-container{
  display: flex-wrap;
  justify-content: space-around;
  min-width: 200px;
}



.done-container{
  display: flex-wrap;
  justify-content: space-around;
  min-width: 200px;
}



.card-container{
  background-color: #ffffff;
  border-radius: 2px;
  margin-top: 10px;
}

.card-container:hover{
  background-color: #ffffff;
  border-radius: 2px;
  margin-top: 10px;
  box-shadow: 0 0 5px 2px #73d0ff;
}

.card-id{
  font-size: 10px;
  margin: 4px;
  padding: 10px;
}

.card-text{
  margin-bottom: 5px;
  padding: 10px;
  color: #85888c;
}

.expedite{
  margin: 4px;
  border-radius: 2px;
  background-color: #ffcc66;
  border: transparent;
  padding: 10px;
  width: 150px;
  color: #ffffff;
  margin-right: 20px;
}

.card-options{
  border: transparent;

}
.card-options img{
  max-width: 20px;
  max-height: 20px;
}


.card-buttons{
  background-color: #abb0b6;
  padding: 10px;
}

.button-edit{
  margin: 4px;
  border-radius: 2px;
  background-color: #59c2ff;
  border: transparent;
  padding: 10px;
  color: #1a2633;
}

.button-remove{
  margin: 4px;
  border-radius: 2px;
  border: transparent;
  padding: 10px;
  color: #1a2633;
  background-color: #ff7733;
}

.button-progress{
  margin: 4px;
  border-radius: 2px;
  background-color: #95e6cb;
  border: transparent;
  padding: 10px;
  color: #1a2633;
}

.button-done{
  margin: 4px;
  border-radius: 2px;
  background-color: #d4bfff;
  border: transparent;
  padding: 10px;
  color: #1a2633;
}
















